<div class="hero m-1"></div>
<div class="section">
  <h2 style="color: rgb(38, 62, 139)">Welcome to Our Mobile Store</h2>
</div>
<div class="d-flex">
  <figure class="figure">
    <img
      src="https://images.unsplash.com/photo-1550041473-d296a3a8a18a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bW9iaWxlJTIwcmVwYWlyfGVufDB8fDB8fHww"
      class="figure-img img-fluid rounded"
      style="height: 90vh; width: 400px; object-fit: cover"
    />
  </figure>
  <div class="d-inline mx-4">
    <h3>With our Repair services you will be in the Safe Zone</h3>
    <h5 style="max-width: 300px">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, natus! Sint
      eligendi unde inventore euatur minus accusantium cumque quas eos.
    </h5>
  </div>
</div>
